.BlogPost {
  padding-top: 40px;
  padding-bottom: 50px;
}

.BlogPost h1 {
  padding-bottom: 10px;
}

.BlogPost h4 {
  color: #777;
}

.image-heading {
  position: absolute;
  top: 20px;
  padding-left: 15px;
  color: #fff;
}

.blog-post-content {
  padding-top: 25px;
}
