body {
  font-family: 'Alegreya', serif;
  font-size: 20px;
}

a {
  text-decoration: none !important;
  outline: none;
}

.mi3o-logo {
  color: #0466ad;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 22px;
}

.mi3o-logo .bracket {
  color: #000;
}

.mi3o-logo .tld {
  color: #555;
  font-size: 0.8em;
}
